@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive';
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

/* a.externo::after {
    content: 00A0\1F517;
}  Posso usar para adicional um emoji */

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #0000005c;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #ffffff;
    max-width: 500px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 1px 0px #00000054;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px #0000004b;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: normal;
    transition-duration: 0.3s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #00000073;
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.container {
    max-width: 1040px;
    margin-bottom: 20px;   
}

.div-video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.div-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #0000006a;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #0000006a;
}

aside > h3 {
    background-color: var(--cor4);
    color: #ffffff;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* Não é compatível com todos os navegadores */
    list-style-position: inside;
    columns: 2;
}

/* aside > ul >li::before {
    content: "\2714\00A0\00A0";
}  Outra forma de colocar um emoji */


footer {
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}














